.feature-box {
  height: 30vh;
  background-color: rgba(#fff, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    // Gradient text effect
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-red-light,
      $color-primary-red-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
