.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -15vh; // allows our background to stretch fill our clip path
}

.section-features {
  display: flex;
  align-items: center;

  padding: 20rem 0;
  height: 95vh;
  background-image: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0.744),
      rgba($color-primary-red, 0.47)
    ),
    url(../img/hero-1.jpeg);
  background-size: cover;
  background-position: center;
  background-position: top;
  /* top left x & y, top right, bottom right, bottom left*/
  clip-path: polygon(0 10%, 100% 0, 100% 85vh, 0 100%);
  margin-top: -15vh;
}

.section-plans {
  padding: 20rem 0;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-red, 0.47),
      rgba(0, 0, 0, 0.744)
    ),
    url(../img/hero-3.jpeg);
  background-size: cover;
  background-position: center;
  background-position: top;
  /* top left x & y, top right, bottom right, bottom left*/
  clip-path: polygon(0 10%, 100% 0, 100% 85vh, 0 100%);
  //margin-top: -15vh;
}

.section-app {
  .iphone {
    height: 50%;
  }

  img.badge {
    width: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}
